@import '../../style/mixins.less';

.chat-chat-list, .global-chat-record {
  height: 100%;

  ul {
    padding: 0;
  }

  .chat-item {
    display: block;
    position: relative;

    &.sticky-top:before {
      content: " ";
      display: inline-block;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid dashed dashed;
      border-width: 8px 8px 0 0;
      border-color: #5ec9f6 transparent transparent;
    }
  }

  .chat-item {
    &:hover,
    &.active {
      background-color: @color-bg-chat-list-active;
      cursor: pointer;
    }

    .react-contextmenu-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 5px 10px;
      border-bottom: 1px solid @color-white-middle;
      position: relative;
      transition: background-color 0.3s;

      .left,
      .right {
        display: flex;
        height: 49px;
      }

      .left {
        align-items: center;
        //align-content: flex-start;

        .ant-avatar {
          flex-shrink: 0;
          align-self: center;
        }

        .name-message {
          height: 100%;
          margin-left: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          margin-top: 5px;

          h3 {
            line-height: 25px;
            height: 25px;
            font-weight: 400;
            color: #000;
          }

          h3,
          span {
            font-size: 14px;
            display: inline-block;
            width: 136px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
          }

          > span {
            word-break: break-all;
            color: @color-text-light;
            font-size: 12px;
          }
        }
      }

      .right {
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        align-items: flex-end;
        flex: 0 0 40px;
        width: 40px;
        text-align: right;
        padding-top: 3px;

        p.date {
          margin: 0;
          color: @color-text-super-light;
          font-weight: 100;
          font-size: 12px;
          line-height: 25px;
        }

        .dndm {
          color: @color-text-super-light;
          margin-right: 3px;
          font-size: 12px;
        }

        .ant-bandge {
          min-height: 25px;
          height: 25px;
          line-height: 25px;
          width: 30px;
          margin-bottom: 5px;
        }
      }

      b {
        width: 15px;
        height: 15px;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        top: 24px;
        left: -2px;
        z-index: 1;

        &:before,
        &:after {
          content: '';
          display: block;
          width: 60%;
          height: 1px;
          background: @color-text-light;
          position: absolute;
          top: 7px;
          left: 20%;
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      .ant-badge-multiple-words {
        padding: 0 4px;
      }
    }
  }
}

