@import '../../style/mixins.less';

.no-data {
  height: 80px;
  line-height: 80px;;
  text-align: center;
}

.person-info {
  position: relative;
  .close {
    width: 14px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 6px;
    z-index: 10;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #666;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .title {
    background: #ebeff3;
    padding: 24px 24px;
    color: @color-text-main;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .left {
      .name-gender {
        margin-bottom: 4px;
        .name {
          font-size: 22px;
          margin: 0;
          display: inline-block;
        }
        .avatar {
          font-size: 16px;
          margin-left: 6px;
          display: inline-block;
          vertical-align: text-bottom;
          &.male {
            color: @color-blue;
          }
          &.famale {
            color: red;
          }
          &.male-famale {
            color: #999;
          }
        }
      }

      .main-tenant-name {
        text-align: left;
        margin: 0;
      }
    }
  }

  .company-info-wrapper {
    padding: 12px 10px 12px 12px;
    height: calc(~"100% - 124px");
    background-origin: content-box;
    background-clip: content-box;

    > div {
      padding-bottom: 12px;
      border-bottom: 1px solid @color-line;
    }

    .company-poper {
      min-height: 270px;
      min-width: 300px;
      max-width: 450px;
    }

    .company-list {
      min-height: 360px;
      max-height: 360px;
      min-width: 300px;
      max-width: 450px;
    }

    .btn-div {
      width: 100%;
      background: #fff;
      padding-top: 1px;
      padding-bottom: 0;
      border-bottom: none;
      text-align: center;
    }

    .btn-chat {
      width: 100%;
      line-height: 35px;
      height: 35px;
      margin-top: 30px;
    }
  }

  .contact-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .company-item {
    margin-top: 30px;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
    .company-name {
      color: @color-text-main;
      margin: 0 0 8px;
    }
    .company-attr {
      line-height: 20px;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 400;
      margin: 14px 0;
      span {
        display: inline-block;
        color: @color-text-main;
        vertical-align: top;
        width: calc(~"100% - 80px");
        line-height: 20px;
        white-space: normal;
        word-break: break-all;
        i {
          font-style: normal;
        }
        b {
          font-weight: 400;
          // color: @color-blue;
          // cursor: pointer;
        }
      }
      .attr-label {
        width: 75px;
        padding-left: 15px;
        color: @color-text-light;
      }
      .attr-no-data {
        color: @color-text-light; 
      }
    }
  }
}